
.headTitle {
    color: #C0C2DD;
    font-family: 'Damion', cursive;
    margin-left: 14px;
    margin-top: 5px;
}

.aboutCandy {
    padding: 50px;
    background-color: whitesmoke;
}

.galleryCj {
    padding: 50px;
    background-color: #c91a75;
}

.contactMe {
    padding: 50px;
    background-color: whitesmoke;
}
